body
	font-family: "filson-soft", fantasysans-serif
	font-weight: 400
header
	width: 100%
	background: $green
	@include displayFlex
	@include flexAlignCenter
	@include flexJustifyCenter
	@include flexWrap
	padding: 40px 0

.brand
	position: relative
	width: 120px
	height: 120px
	background: $green

	img
		width: 100%
		height: 100%
.intro
	width: 100%
	text-align: center

	h1
		color: $white
		font-weight: 400
	p
		font-size: 1.25em
		color: $white

	.button-primary
		font-size: .875em
		background: darken($green, .6)
		padding: 8px
		border-radius: 8px
		display: inline-block
.navbar
	width: 100%
	@include displayFlex
	@include flexAlignCenter
nav
	ul
		list-style:  none
		margin: 0
		padding: 0
	li
		display: inline-block
		padding : 0 16px

		a
			display: inline-block
			color: $font-color
			text-decoration: none
			font-size: 0.875em
			border-bottom: 2px solid transparent
			padding: 16px 0
			&:hover, &.active
				color: $green
				border-bottom: 2px solid $green

.main-container
	@include displayFlex
	@include flexAlignStart

.filters-close
	width: 100%
	text-align: right
	padding: 16px
	font-size: 0.875em
	opacity: .6
	cursor: pointer
	@media (min-width: $breakpoint-desktop)
		display: none

.filters-panel
	background: #FFFF00
	top: 0
	left: 0
	position: fixed
	width: 95vw
	max-width: $width-panel-filters
	background: $white
	@include  defaultBoxShadow
	height: 100vh
	overflow-y: scroll
	z-index: 200
	-webkit-overflow-scrolling: touch
	// display: none
	@media (min-width: $breakpoint-desktop)
		box-shadow: none
		position: relative

.filter-container
	@include displayFlex
	@include flexAlignCenter
	@include flexWrap
	@include flexJustifyBetween
	padding-top: 24px
	border-bottom : 4px solid rgba($font-color, .2)
	h3
		width: 100%
		margin: 0
		padding: 0
		padding-left: 16px
		font-weight: 400
		font-size: 16px
		padding-bottom: 8px

.filter-item
	@include displayFlex
	@include flexAlignCenter
	padding: 16px
	width: 50%
	//border-bottom : 1px solid rgba($font-color, .2)
	cursor: pointer
	transition: .2s all ease-in

	&:nth-child(even)
		//border-right : 1px solid rgba($font-color, .2)
	&:nth-child(odd)


	&:hover, &.mixitup-control-active
		//background: $green
		color: $white
		@include lightBoxShadow
		transition: .2s all ease-in

	img
		width: 48px
		height: 48px


.filter-options
	width: 100%
	&:hover,
	&.mixitup-control-active
		.filter-item
			box-shadow: none
			margin-left: 8px
			opacity: 1
			color: $green

	.filter-item
		width: 100%
		font-size: 0.875em
		opacity: .6
		color: $font-color
		border-bottom: 0


.filter-label
	font-size: 14px
	margin-left: 8px
	color: $green

.videos-container
	width: 100%
	@include displayFlex
	@include flexWrap
	@media (min-width: $breakpoint-desktop)
		width: 100%

.video-item
	width: 100%
	padding: 15px
	@media (min-width: $breakpoint-tablet)
		width: 50%
	@media (min-width: $breakpoint-widescreen)
		width: 25%

	.video
		background: $black
		@include defaultBoxShadow

.video-tags
	margin-top: 8px
	.tag
		display: inline-block
		font-size: 0.725em
		padding: 4px 8px
		color: $font-color
		margin: 0 4px 4px 0
		opacity: .8
		background: rgba($font-color, .1)
