@mixin defaultContainer()
	max-width: $breakpoint-desktop
	margin: 0 auto
	width: 100%
	padding: 0 16px
	@media (min-width: $breakpoint-tablet)
		padding: 0 32px
	@media (min-width: $breakpoint-desktop)
		padding: 0 32px
	@media (min-width: $breakpoint-widescreen)
		padding: 0 48px

@mixin smallContainer()
	max-width: $breakpoint-tablet
	margin: 0 auto
	width: 100%
	padding: 0 16px
	@media (min-width: $breakpoint-tablet)
		padding: 0 32px
	@media (min-width: $breakpoint-desktop)
		padding: 0 32px
	@media (min-width: $breakpoint-widescreen)
		padding: 0 48px

@mixin displayFlex()
	display: flex
	display: -ms-flexbox

@mixin flexAlignCenter()
	align-items: center
	-webkit-align-items: center
	-ms-flex-align: center

@mixin flexAlignStart()
	align-items: flex-start
	-webkit-align-items: flex-start
	-ms-flex-align: flex-start

@mixin flexAlignEnd()
	align-items: flex-end
	-webkit-align-items: flex-end
	-ms-flex-align: flex-end

@mixin flexJustifyCenter()
	justify-content: center
	-webkit-justify-content: center
	-ms-flex-pack: center

@mixin flexJustifyStart()
	justify-content: flex-start
	-webkit-justify-content: flex-start
	-ms-flex-pack: flex-start

@mixin flexJustifyEnd()
	justify-content: flex-end
	-webkit-justify-content: flex-end
	-ms-flex-pack: flex-end

@mixin flexJustifyBetween()
	justify-content: space-between
	-webkit-justify-content: space-between
	-ms-flex-pack: justify

@mixin flexWrap()
	flex-wrap: wrap
	-webkit-flex-wrap: wrap
	-ms-flex-wrap : wrap

@mixin flexNoWrap()
	flex-wrap: nowrap
	-webkit-flex-wrap: nowrap
	-ms-flex-wrap: none


@mixin defaultBoxShadow()
	box-shadow: 0 0 49px rgba(0, 0, 0, 0.23)

@mixin lightBoxShadow()
	box-shadow: 0 16px 23px rgba(0, 0, 0, 0.23)
