html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d;
  font-family: "futura-pt", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  position: relative;
  width: 100%; }

body {
  font-family: "filson-soft", fantasysans-serif;
  font-weight: 400; }

header {
  width: 100%;
  background: #52ccc0;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  padding: 40px 0; }

.brand {
  position: relative;
  width: 120px;
  height: 120px;
  background: #52ccc0; }
  .brand img {
    width: 100%;
    height: 100%; }

.intro {
  width: 100%;
  text-align: center; }
  .intro h1 {
    color: #FFFFFF;
    font-weight: 400; }
  .intro p {
    font-size: 1.25em;
    color: #FFFFFF; }
  .intro .button-primary {
    font-size: 0.875em;
    background: #50cbbf;
    padding: 8px;
    border-radius: 8px;
    display: inline-block; }

.navbar {
  width: 100%;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }
nav li {
  display: inline-block;
  padding: 0 16px; }
  nav li a {
    display: inline-block;
    color: #3d3d3d;
    text-decoration: none;
    font-size: 0.875em;
    border-bottom: 2px solid transparent;
    padding: 16px 0; }
    nav li a:hover, nav li a.active {
      color: #52ccc0;
      border-bottom: 2px solid #52ccc0; }

.main-container {
  display: flex;
  display: -ms-flexbox;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start; }

.filters-close {
  width: 100%;
  text-align: right;
  padding: 16px;
  font-size: 0.875em;
  opacity: 0.6;
  cursor: pointer; }
  @media (min-width: 968px) {
    .filters-close {
      display: none; } }

.filters-panel {
  background: #FFFF00;
  top: 0;
  left: 0;
  position: fixed;
  width: 95vw;
  max-width: 360px;
  background: #FFFFFF;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.23);
  height: 100vh;
  overflow-y: scroll;
  z-index: 200;
  -webkit-overflow-scrolling: touch; }
  @media (min-width: 968px) {
    .filters-panel {
      box-shadow: none;
      position: relative; } }

.filter-container {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  padding-top: 24px;
  border-bottom: 4px solid rgba(61, 61, 61, 0.2); }
  .filter-container h3 {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 8px; }

.filter-item {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  padding: 16px;
  width: 50%;
  cursor: pointer;
  transition: 0.2s all ease-in; }
  .filter-item:hover, .filter-item.mixitup-control-active {
    color: #FFFFFF;
    box-shadow: 0 16px 23px rgba(0, 0, 0, 0.23);
    transition: 0.2s all ease-in; }
  .filter-item img {
    width: 48px;
    height: 48px; }

.filter-options {
  width: 100%; }
  .filter-options:hover .filter-item, .filter-options.mixitup-control-active .filter-item {
    box-shadow: none;
    margin-left: 8px;
    opacity: 1;
    color: #52ccc0; }
  .filter-options .filter-item {
    width: 100%;
    font-size: 0.875em;
    opacity: 0.6;
    color: #3d3d3d;
    border-bottom: 0; }

.filter-label {
  font-size: 14px;
  margin-left: 8px;
  color: #52ccc0; }

.videos-container {
  width: 100%;
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap; }
  @media (min-width: 968px) {
    .videos-container {
      width: 100%; } }

.video-item {
  width: 100%;
  padding: 15px; }
  @media (min-width: 768px) {
    .video-item {
      width: 50%; } }
  @media (min-width: 1200px) {
    .video-item {
      width: 25%; } }
  .video-item .video {
    background: #000000;
    box-shadow: 0 0 49px rgba(0, 0, 0, 0.23); }

.video-tags {
  margin-top: 8px; }
  .video-tags .tag {
    display: inline-block;
    font-size: 0.725em;
    padding: 4px 8px;
    color: #3d3d3d;
    margin: 0 4px 4px 0;
    opacity: 0.8;
    background: rgba(61, 61, 61, 0.1); }

.is-hidden {
  display: none !important; }

.is-overflow-hidden {
  overflow: hidden !important; }

.is-background-white {
  background-color: #FFFFFF; }

.is-text-centered {
  text-align: center; }

/*# sourceMappingURL=app.css.map */
