html
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

*, *:before, *:after
	-webkit-box-sizing: inherit
	-moz-box-sizing: inherit
	box-sizing: inherit

body
	padding: 0
	margin: 0
	background-color: $white
	font-weight: 400
	font-size: 16px
	color: $font-color
	font-family: "futura-pt",sans-serif
	-webkit-font-smoothing: antialiased
	text-rendering: optimizeLegibility
	-webkit-overflow-scrolling: touch
	position: relative
	width: 100%
